---
layout: archive
title: "Outreach"
permalink: /Outreach/
redirect_from:
  - /science-communication/
  - /scicomm/
---


{% include base_path %}

{% for post in site.outreach %}
  {% include archive-single.html %}
{% endfor %}

<h2>STEM Ambassador</h2>

I have been a STEM Ambassador since 2017, joining the program in my third year of undergrad as an Ambassador to the Wales Hub. Since then I have volunteered as on-the-day support at  large events such as <a href="https://www.cardiff.ac.uk/news/view/1070810-prepare-for-brain-games-2018">Brain Games</a> organised by the School of Psychology Cardiff University, and <a href="https://mathsinspiration.com/events/?id=97">Maths Inspiration</a> at the Bristol Hippodrome. I have also worked as part of a team running smaller workshops in primary schools teaching coding with the BBC Micro:bit, where students designed, created and coded a wearable product which played rock paper scissors upon shaking the device. 
