---
layout: archive
title: "Science Communication"
permalink: /SciComm/
redirect_from:
  - /science-communication/
---


{% include base_path %}

{% for post in site.scicomm %}
  {% include archive-single.html %}
{% endfor %}

<h2>STEM Ambassador</h2>

I have been a STEM Ambassador since 2017, joining the program in my third year of undergrad as an Ambassador to the Wales Hub. Since then I have volunteered as on-the-day support at  large events such as [Brain Games](https://www.cardiff.ac.uk/news/view/1070810-prepare-for-brain-games-2018) organised by the School of Psychology Cardiff University, and [Maths Inspiration](https://mathsinspiration.com/events/?id=97) at the Bristol Hippodrome. I have also worked as part of a team running smaller workshops in primary schools teaching coding with the BBC Micro:bit, where students designed, created and coded a wearable product which played rock paper scissors upon shaking the device. 
